.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
}
.item {
  width: 170px;
}
.img {
  width: 100%;
}
.textWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin-top: 5px;
  height: 70px;
  background-color: #684a83ab;
}

.text {
  color: #214823;
}
.textCharacter {
  color: #6b0b3d;
}
